<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('../templates/head.ejs') %>
  <link rel="stylesheet" href="/css/u/login.css">
</head>
<body>
  <div class="login-form">
    <form action="/u/login" method="POST">
      <div class="input-group">
        <input type="text" placeholder="Username" name="username" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <button type="submit">Login</button>
        <div class="register">
          Don't have an account? Click <a href="/u/register">here</a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>