<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <%- include('../templates/head.ejs') %>
  <link rel="stylesheet" href="/css/u/register.css">
</head>
<body>
  <div class="register-form">
    <form action="/register" method="POST">
      <div class="input-group">
        <ul class="error-list" id="error-list">

        </ul>
        <input type="text" placeholder="Username" name="username" id="username" required/>
        <input type="email" placeholder="Email" name="email" id="email" required>
        <input type="password" placeholder="Password" name="password" id="password" required/>
        <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required/>
        <button type="button" id="registerbtn">Register</button>
        <div class="login">
          Already have an account? Click <a href="/u/login">here</a>
        </div>
      </div>
    </form>
  </div>


  <script src="/js/u/register.js"></script>
</body>
</html>