<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div>
    This is a website that collects job postings from multiple websites and puts them all here for your use
  </div> 
  <div>
    Click <a href="/u/register">here</a> to get started!
  </div>
  <div>
    Or login <a href="/u/login">here</a>
  </div>
</body>
</html>