<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/jobs/jobpost.css">
</head>
<body>
    <div class="container">
        <div class="banner-container"></div>
        <div class="header-container">
            <div class="header-company-img"></div>
            <div class="header-job-title">
                Senior Front End Developer
            </div>
        </div>
        <div class="found-on-container">
            Found on <b>Indeed</b>
        </div>
        <div class="job-details-container">
            <div class="job-details-location">
                <div class="job-details-location-icon">
                    <img src="/img/icon/location-icon.svg" alt=""/>
                </div>
                <div class="job-details-location-text">
                    Location
                </div>
                <div class="job-details-location-google-maps">
                    <a href="#">Google Maps</a>
                </div>
            </div>
            <div class="job-details-salary">
                <div class="job-details-salary-icon">
                    <img src="/img/icon/salary-icon.svg" alt=""/>
                </div>
                <div class="job-details-salary-text">
                    65,000 - 75,000 per annum + benefits
                </div>
            </div>
            <div class="job-details-company">
                <div class="job-details-company-icon">
                    <img src="/img/icon/company-icon.svg" alt=""/>
                </div>
                <div class="job-details-company-text">
                    <a href="#">Understanding Recruitment Ltd</a>
                </div>
            </div>
            <div class="job-details-type">
                <div class="job-details-type-icon">
                    <img src="/img/icon/clock-icon.svg" alt=""/>
                </div>
                <div class="job-details-type-text">
                    Permanent
                </div>
            </div>
            <div class="job-details-listed">
                <div class="job-details-listed-icon">
                    <img src="/img/icon/calendar-icon.svg" alt=""/>
                </div>
                <div class="job-details-listed-text">
                    Expires in 2 days
                </div>
            </div>
        </div>
        <div class="job-details-divider"></div>
        <div class="apply-button">
            <button>Apply</button>
        </div>
        <div class="job-content-container">
            Senior Front End Developer

            Oxford, UK - 65,000 - 75,000

            We are hiring for a Senior Front End Developer to join an expanding Artificial Intelligence health tech based in Oxford. This Hugely successful company are an internationally recognised innovator in the Healthcare sector. Currently looking for a Senior Front End Developer to work on our powerful machine learning product that helps research into some of the worlds top medical issues, such as Cancer and Covid-19

            As one of our Senior Front End Developer you'll be positioned within a cross functional team, alongside our data and machine learning engineers to focus on our a Covid-19 response in partnership with the NHS and Oxford University.

            Technically we would like to hear from a Senior Front End Developer with capabilities in:

            * JavaScript (ES7), React, Node.JS
            * Typescript, Linux, Webpack
            * Computer Science or other STEM degree required

            As a Senior Front End Developer you will join an exciting organisation that have just received funding to truly harness their potential and are aiming to take on a stronger international presence. We offer a vibrant but results driven culture with room for progression from the Senior Front End Developer position.

            Apply now for immediate consideration.

            Understanding Recruitment is acting as an employment agency for this vacancy.
        </div>
    </div>
</body>
</html>